[admm_config]
ITER_MAX = 30 # maximum number of ADMM iterations
RHO = 5 # initial penalty parameter
INFEAS_TOL = 1e-1 # Stopping criterion for ADMM

[general_config]
SEED_INIT = 25 # random seed for initialization (used with mergesplit backend)
USE_PREV = false # if you want to use a smaller mesh solution as a warm start 

[problem_config]
# Problem-specific options
SOURCE_STRENGTH = 1
SOURCE_TYPE = uniform
VOL_FRAC = 0.4
MESH_SIZE = 32
ALPHA = 1e-2

[penalty_parameter_config]
# Penalty update options: 
PENALTY_UPDATE_METHOD = none  # (none, periodic, running_avg)
RHO_INCREASE_FACTOR = 1.25 # factor by which to increase rho when primal infeasibility is not improving
STAG_WINDOW = 3  # number of iterations to compute moving average of primal infeasibility (running_avg method)
DECREASE_EPS = 1e-12 # numerical safety factor
SLOW_THRESH = 0.5 # threshold for slow primal feasibility convergence (running_avg method)
STAG_THRESH = 0.1  # threshold for stagnation of primal feasibility (running_avg method)

[subproblem_1_config]
# Subproblem 1 options
TRACK_OC_CONVERGENCE = False # whether to track convergence of OC, F and \nabla F in subproblem 1 (for debugging purposes)

[subproblem_2_config]
# Subproblem 2 options
USE_MIP = false # (true, false)
BACKEND = gurobi  #(gurobi, mergesplit, chambolle-pock)
CUTOFF_TIME = 300.0 # seconds, Gurobi time limit for subproblem 2

[BOUNDARY_CONDITIONS]
# List which boundaries have Dirichlet BC (separated by space/comma)
dirichlet_boundaries = north west
dirichlet_value_north = 0.0
dirichlet_value_west = 0.0

# Remaining boundaries automatically get Neumann with value 0
neumann_value = 0.0
